.button{
    -fx-background-color: transparent;
    -fx-background-image: url('../trashcan.png');
}

.button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('../trashcanOpen.png');
}

.optionspane {
    -fx-alignment: center;
}