.button{
    -fx-background-color: transparent;
    -fx-background-image: url('../resources/trashcan.png');
}

.button:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('../resources/trashcanOpen.png');
}

.optionspane {
    -fx-alignment: center;
}