.button {
    -fx-text-fill: darkslategray;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-border-color: darkslategray;
    -fx-border-radius: 4 4 4 4;
    -fx-padding: 5 15 5 15;
}
.button:hover{
    -fx-underline: true;
    -fx-background-color: derive(#2F4F4F, 2500%);
}


.optionspane {
    -fx-alignment: center;
}